html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: black;
	color: #ccc;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-size:20px;
	font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
:root {
	--tool-bg :rgb(88, 88, 88);
	--path-bg : black;
	--thumbnail-size : 8.7vw;
	--small-path-width :4vw;
	--thumbnail-margin :0.5vw;
	--tool-container-size : 9.7vw;
	--small-thumbnail-size : 40px;
	--large-thumbnail-size : 200px;
	--dark-bg :rgb(150, 127, 98);
	--light-bg :rgb(143, 117, 86); 
	--description-text-color : white;
	--description-text-bg : repeating-linear-gradient( tan, tan 2px, grey 2px, grey 3px, rgba(128, 128, 128, 0.5) 3px, rgba(128, 128, 128, 0.5) 19px, grey 19px, grey 20px, tan 20px, tan 22px);
}

.tool {
	margin: 5px;
	width: 600px;
	padding: 15px;
	overflow: hidden;
	min-height: var(--tool-container-size);
	border-radius: 5px;
	flex-direction: row;
	background-color: tan;
}

.tool img, .tool-cube img, .tool-description img, .material-top img, .material img, .material div img, .tool-img {
	background: var(--tool-bg);
	border-radius: 15px;
	margin-right: 15px;
}
.material-top img {
	margin : 10px;
}
.tool img, .tool-cube img, .tool-description img, .material-top img {
	min-height : var(--thumbnail-size);
	max-width  : var(--thumbnail-size);
	max-height : var(--thumbnail-size);
	min-width  : var(--thumbnail-size);
}
.material img, .material div img, .tool-img {
	min-height : var(--small-thumbnail-size);
	max-width  : var(--small-thumbnail-size);
	max-height : var(--small-thumbnail-size);
	min-width  : var(--small-thumbnail-size);
}

.tool p, .tool-description p, .material p, .material_side p {
	margin: 0px;
	max-width: 480px;
	text-align: left;
	padding-left: 5px;
	margin-right: 15px;
	padding-right: 5px;
}
.material p, .material_side p {
	font-size: small;
	border-radius: 5px;
	border-top-left-radius: 18px;
	border-bottom-right-radius: 18px;
	background: rgba(128, 128, 128, 0.5);
}
.tool p {
	background: repeating-linear-gradient( tan, tan 2px, grey 2px, grey 3px, rgba(128, 128, 128, 0.5) 3px, rgba(128, 128, 128, 0.5) 19px, grey 19px, grey 20px, tan 20px, tan 22px);
}
.tool-description p {
	background: repeating-linear-gradient( rgb(150, 127, 98), rgb(150, 127, 98) 2px, grey 2px, grey 3px, rgba(128, 128, 128, 0.5) 3px, rgba(128, 128, 128, 0.5) 19px, grey 19px, grey 20px, rgb(150, 127, 98) 20px, rgb(150, 127, 98) 22px);
}
.tool div {
	margin: 0px;
	padding: 0px;
}
.base-upgrade-column, .tool-description, .material-top, div.tree{
	margin-top: 15px;
}
.base-upgrade-column, .tool-description, .material, .material_side, .material_side div, .tool, .row, .column {	
	display: flex;
}
.tool-description, .material, .material_side div, .row{
	flex-direction: row;
}
.column, .base-upgrade-column, .material_side {
	flex-direction: column;
}
.base-upgrade-column {
	max-width: var(--tool-container-size);
	min-width: var(--tool-container-size);
	min-height: 800px;
	max-height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 20px;
	background: var(--light-bg);;
}

.tool-description div {
	margin: 0px;
	padding: 0px;
}

.material {
	min-height: 50px;
	min-width: 50px;
	overflow: hidden;
	margin: 5px;
	background-color: transparent;
	padding: 15px;
	border-radius: 5px;
}

.material_descriptions {
	display: block;
}


.material div {
	margin: 0px;
	padding: 0px;
}

.material-top {
	min-height: var(--tool-container-size);;
	max-width: 92vw;
	min-width: 92vw;
	overflow-x: scroll;
	overflow-y: hidden;
	background: var(--light-bg);
	border-radius: 15px;
}


.material_side {
	min-height: 50px;
	min-width: 50px;
	overflow: hidden;
	margin: 5px;
	margin-top: 20px;
	background: tan;
	padding: 5px;
	border-radius: 15px;
}


.material_side div {
	margin: 10px;
	max-height: 50px;
	overflow: hidden;
	transition-property: max-height;
	transition: 0.8s ease-in-out;
}

.material_side div:hover {
	max-height: 150px;
}

.empty,
.empty.path {
	background: transparent;
}

.empty-tool-cube {
	background: transparent;
	max-width: var(--small-path-width);
	min-width: var(--small-path-width);
}

.empty.path,
.path.flat {
	max-width: var(--tool-container-size);
	min-width: var(--tool-container-size);
}

.path {
	min-height: var(--tool-container-size);
	max-height: var(--tool-container-size);
	max-width: var(--small-path-width);
	min-width: var(--small-path-width);
	background: black;
}

.tool-cube {
	background: var(--tool-bg);
	margin: var(--thumbnail-margin);
	min-height: var(--thumbnail-size);
	max-height: var(--thumbnail-size);
	max-width: var(--thumbnail-size);
	min-width: var(--thumbnail-size);
	border-radius: 15px;
}

div.tree {
	min-width: 92vw;
	max-width: 92vw;
	border-radius: 20px;
	background-image: repeating-linear-gradient(90deg, rgb(143, 117, 86), rgb(143, 117, 86) var(--tool-container-size), rgb(150, 127, 98) var(--tool-container-size), rgb(150, 127, 98) calc(var(--tool-container-size) + var(--small-path-width)));
}

::-webkit-scrollbar {
	display: none;
}